// Specific CSS for your home-page
.categories-container {
    background-color: #475841;
    border-radius: 10px;
    color: white;
    padding: 20px;
}

.intro-section {
  background-color: #5e92501c;
}

.trustpilot {
    margin-top: 23px;
    width: 420px;
}
