// Import page-specific CSS files here.
@import "home";

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.product-container {
    padding: 75px;

}

.style {
  z-index: 12;
}

.background-container {
    background-color: #475841;
    padding: 25px;
    border-radius: 5px;
    color: white;
}

