.show-container {
  width: 70vw;
  margin: auto;
  background-color: rgb(71, 88, 65);
  padding: 25px;
  margin-top: 25px;
  border-radius: 10px;
  border: white 5px solid;
}

.reviews {
  color: white;
}

.info {
  color: white;
  text-align: center;
  font-size: large;
}

#new_booking {
  color: white;
  font-size: large;
}

ul {
  list-style: none;
}

.review-title {
  width: 70vw;
  margin: auto;
  background-color: transparent;
  color: #475841;
  margin-top: 15px;


}