.banner {
    background-color: #475841;
    height: 80vh;
    justify-content: space-around;
    display: flex;
    align-items: center;
  }

  .banner-container {
    width: 100%;
    position: relative;
  }

  .banner-image {
    height: 500px;
    width: 750px;
    object-fit: cover;
    z-index: 1;
  }

  .intro-section {
    background-color: #e6dede !important;
  }


  .text-on-banner {
    width: 400px;
    background: white;
    padding: 40px;
    width: 680px;
    margin-right: -656px;
    border-radius: 6px;
    box-shadow: 0 0 10px #4a4a4a;
 
    z-index: 2;
  }

  .banner-image img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: white 5px solid;
  }

  .banner h2 {
      font-size: 35px;
  }
  
  .banner p {
    font-size: 15px;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  .search-button {
    color: #322C26;
    background-color: rgba($color: white, $alpha: 0.65);
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
  }

  .search-button:hover {
    background-color: rgba($color: white, $alpha: 0.3);
    color: #322C26;
  }

  .white-btn {
    background-color: #475841;
    color: white;
    font-weight: bold;
    padding: 8px 24px;
    border-radius: 5px;
  }
  
  .white-btn:hover {
    background-color: white;
    border: 1px solid #475841;
    color: #475841;
  }