.card-product {
    overflow: hidden;
    height: 100%;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    color: black;
    align-items: center;
    border: 5px white solid;
    width: 530px;
  }

  .card-product img {
    height: 100%;
    width: 190px;
    object-fit: cover;
  }

  .card-product h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .card-product p {
    font-size: 15px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
    margin-bottom: 5px;
  }
.fa-vector-square {
    margin-right:5px
  }

  .card-product .card-product-infos {
    padding: 16px;
    width: 300px;
  }
  .bed-price {
    text-align: right;
    margin-top: 16px !important;
    span {
      color: white;
    background: #475841;
    border-radius: 41px;
    padding: 4px 8px;
    }
  }

  .fa-star {
    color: #ffc107;
  }
