.search-button {
    color: #322C26;
    background-color: rgba($color: white, $alpha: 0.65);
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
  }

  .search-button:hover {
    background-color: rgba($color: white, $alpha: 0.3);
    color: #322C26;
  }

  .white-btn {
    background-color: #475841;
    color: white;
    font-weight: bold;
    padding: 8px 24px;
    border-radius: 5px;
  }
  
  .white-btn:hover {
    background-color: white;
    border: 1px solid #475841;
    color: #475841;
    transition: 0.5s;
  }

  .green-btn {
    background-color: white;
    color: #475841;
    font-weight: bold;  
    padding: 8px 24px;
    border-radius: 5px;
  }
  
  .green-btn:hover {
    background-color: #475841;
    border: 1px solid white;
    color: white;
    transition: 0.5s;
  }