.modal-content {
  width: 50%;
  background-color: transparent !important;
}

.form-container {
  background-color: #475841;
  width: 900px;
  margin: auto;
  color: white;
  border-radius: 5px;
  padding: 15px;

}

body {
  background-color: white !important;
}