.navbar-lewagon {
  justify-content: space-between;
  background: #475841;

  .nav-link {
    color: white !important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

ul {
  color: white;
}

.green-btn {
  background-color: white;
  color: #475841;
  font-weight: bold;  
  padding: 8px 24px;
  border-radius: 5px;
}

.green-btn:hover {
  background-color: #475841;
  border: 1px solid white;
  color: white;
}

.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 2.9rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  margin-top: 10px;
  border-radius: 15px;
}

.search-form-control .form-control:focus {
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
