// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/banner";
@import "components/category";
@import "components/footer";
@import "components/bed_card";
@import "components/buttons";
@import "pages/index";
@import "pages/show";

@import "components/form";


a, a:hover {
    text-decoration: none !important;
}

body {
    position: relative;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif !important;
    background-color: #475841;
    background-image: url("https://www.transparenttextures.com/patterns/arches.png");
    font-size: larger !important;
}
